{
  "extends": ["react-app", "plugin:prettier/recommended"],
  "rules": {
      "prettier/prettier": "error",
      "no-console": ["warn"]
  },
  "plugins": ["import", "auto-import"],
  "parser": "babel-eslint"
}
